* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 85px;
  font-size: 3.5rem;
  font-weight: 700;
  background-color: navy;
  color: white;
  display: flex;
  align-items: center;
  justify-items: space-between;
  padding-left: 15px;
}

#title {
  margin: auto 10px;
}

.message-area,
.record-container {
  margin: 20px auto;
  width: 900px;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: bold;
  color: navy;
  box-shadow: 0px 0px 4px 0px rgb(124, 124, 124);
}

.board-container {
  margin: 20px auto;
  width: 800px;
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 10px;
}

.cell {
  background-color: skyblue;
  border: 1px solid black;
}

.cell:hover {
  background-color: navy;
}

button {
  margin: 20px auto;
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: navy;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgb(124, 124, 124);
}

button:hover {
  background-color: white;
  color: navy;
}
